.footer {
  background-color: rgb(var(--default-color));
  height: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgb(var(--default-color));
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  filter: invert(1);
  font-size: .9rem;
  font-family: var(--font-primary);
}
.footer p span a {
  filter: invert(1);
  text-decoration: none;
  font-weight: bold;
  color: #56854c !important;
}
.footer p span a:hover {
  color: #345c2b !important;
}

@media (min-width: 768px) and (min-height: 768px){
  .footer {
    height: 4rem;
  }
  .footer p {
    font-size: 2rem;
  }
}