@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&family=Mooli&display=swap");

:root {
  --primary-color: 153, 153, 153;
  --secondary-color: 232, 232, 232;
  --tertiary-color: 240, 240, 240;
  --default-color: 255, 255, 255;
  --black-color: 0, 0, 0;
  --white-color: 255, 255, 255;

  --font-primary: "Mooli", sans-serif;
  --font-secondary: "Dosis", sans-serif;
}

[className="dark"] {
  --primary-color: 73, 73, 73;
  --secondary-color: 46, 46, 46;
  --tertiary-color: 100, 100, 100;
  --default-color: 0, 0, 0;
  --black-color: 0, 0, 0;
  --white-color: 255, 255, 255;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: rgb(var(--default-color));
}
body::-webkit-scrollbar {
  width: 6px;
  background: rgb(var(--white-color));
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(var(--primary-color));
  border-radius: 5px;
  border: 1px solid rgb(var(--white-color));
}
.timer {
  display: flex;
  flex-direction: column;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
